@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;700;800&display=swap');

ul > li {
    list-style: none;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1570px;
    margin: 0 auto;
    width: 100%;
}

.hero-background {
    background-color: #282932;
    border-bottom-right-radius: 72%;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.hero-block {
    height: 990px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.main-hero-container {
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.335);
}

.header .logo img {
    max-height: 42px;
    height: 100%;
}

.main-menu-block {
    display: flex;
}

.main-menu-list {
    display: flex;
    margin-bottom: 0;
    align-items: center;
}

.main-menu-item {
    padding-right: 6px;
    list-style: none;
}

.main-menu-item a {
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    line-height: 30.6px;
    padding-right: 22px;
    padding-left: 22px;
    display: flex;
}

/* .main-menu-item a::after {
    content: url(src/img/right-arrow.svg);
    height: 24px;
    width: 24px;
    fill: white;
} */

.main-menu-item a:hover, .main-menu-item.main-page a {
    color: #f7b614;
}

.hero-content {
    display: flex;
}

.hero-content-wrap {
    margin-top: 220px;
}

.main-title-block {
    margin-bottom: 16px;
}

.main-title{
    color: #f7b614;
    font-family: 'Heebo', sans-serif;
    font-size: 80px;
    font-weight: 800;
    margin-block-start: 0;
    margin-block-end: 0;
}

.main-title span{
    color: #fff;
}

.main-title-description span {
    font-family: 'Catamaran', sans-serif;
    color: #fff
}

.main-title-button-wrap {
    margin-top: 50px;
}

.main-title-button-wrap .button {
    background-color: #f7b614;
    border-radius: 40px;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 30.6px;
    padding: 22px 30px;
    color: #282932;
    width: 260px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content-block {
    display: flex;
}

.hero-img-block img {
    width: 100%;
}

.hero-img-block {
    margin-top: 60px;
}

.main-description-wrap {
    width: 563px;
}

.hero-content-categories-block {
    display: flex;
    justify-content: space-between;
    margin-top: -40px;
}

.category-content-wrap {
    margin-bottom: 30px;
    padding: 30px;
    background-color: #f1efe6;
    border-radius: 18px;
    display: flex;
    width: 100%;
    margin-right: 10px;
}

.category-content-wrap .category-img {
    width: 100px;
    height: 100px;
    background-color: #f7b614;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 25px;
}

.category-img span {
    width: 60px;
    height: 60px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
}

.category-img #fastfood {
    background-image: url(src/img/burger.svg);
}

.category-img #pizza {
    background-image: url(src/img/pizza.svg);
}

.category-img #asian {
    background-image: url(src/img/sushi.svg);
}

.category-img #meat {
    background-image: url(src/img/meat.svg);
}

.category-content-wrap .category-content-title {
    display: flex;
    align-items: center;
    justify-content: left;
}

.account-sidebar {
    -webkit-box-shadow: 0px 4px 26px -7px #b8b6bf;
    box-shadow: 0px 4px 26px -7px #b8b6bf;
}

.b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    display: inline;
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }


.account-main-block img {
    padding: 25px;
    display: block;
    margin: 0 auto;
    width: 60%;
    min-width: 290px;
}

section {
    margin-top: 10px;
}

.header-hero {
    height: 30vh;
    width: 100%;
    position: relative;
    -webkit-box-shadow: 0px 4px 26px -7px #b8b6bf;
    box-shadow: 0px 4px 26px -7px #b8b6bf;
    border-radius: 10px;
    overflow: hidden;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.header-hero-background{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgb(126 121 121 / 30%), rgb(20 20 20 / 81%)), url(/src/img/background.jpeg);
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    position: absolute;
    z-index: 1;
}

.header-hero-title {
    color: #fefefe;
    font-size: 48px;
    font-weight: 800;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.categories {
    margin-top: 50px;
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories__item {
    display: flex;
    flex-direction: column;
    /*max-width: 200px;*/
}

.categories__item img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100%;
    object-fit: cover;
}

.categories__item a {
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    background-color: #f7b614;
    width: fit-content;
    padding: 9px 40px;
    border-radius: 10%;
    margin: 0 auto;
    position: relative;
    bottom: 30px;
    display: block;
    color: #fefefe;
}

.categories__item a:hover {
    background-color: rgba(40 41 50);
    color: #fefefe;
}

.header-hero-background.kfc {
    background-image: url("/src/img/kfc.jpeg");
}

.menu {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 26px -7px #b8b6bf;
    box-shadow: 0px 0px 26px -7px #b8b6bf;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-category {
    margin-bottom: 15px;
    margin-top: 15px;
}

.menu-category-title {
    font-size: 24px;
    font-weight: 700;
    color: #fefefe;
    background-color: #f7b614;
    padding: 15px;
    width: 100%;
    display: block;
}

.menu-category-list {
    margin-top: 30px;
}

.menu-category-list__item a{
    color: rgba(40 41 50);
    text-decoration: none;
}

.menu-category-list__item a:hover {
    color: #f7b614;
}

.menu-category-list__item-link img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}


.modal-popup {
    z-index: 100;
    min-height: 60px;
    max-height: 100px;
    padding: 10px;
    border-radius: 3px;
    display: none;
    position: fixed ;
    top: 10px;
    right: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 28px 4px #B8B6BF;
    box-shadow: 0px 0px 28px 4px #B8B6BF;
}
.success-text {
    color: #0f5132;
}
.account-content {
    height: 100vh;
    overflow: scroll;
}

.cart-icon {
    margin-top: 15px;
    position: relative;
    width: 60px;
    height: 60px;
}

.cart-icon img {
    display: block;
    margin: 0 auto;
    width: 45px;
    height: 45px;
}

.cart-icon span {
    position: absolute;
    top: 0px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    right: 0px;
    background-color: #fff;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    -webkit-box-shadow: 0px 0px 28px 4px #B8B6BF;
    box-shadow: 0px 0px 28px 4px #B8B6BF;
}
